.create-button {
    width: 100%;
    height: 100%;
}

.create-container {
    width: 100vw;
    min-height: calc(100vh - 100px - 62px);
    background: #f5f5f5;
}

.create-box {
    margin: 0 auto 0 auto;
}

.create-box>.container {
    min-width: 320px;
    width: 700px;
    margin: 20px auto 20px auto;
}

.create-box>.container>table {
    width: 100%;
}

.create-header-content>div, .create-border-destination>div {
    display: flex;
    flex-direction: column;
}

.create-header-content>div {
    display: flex;
}

.create-box>table {
    min-width: 500px;
}

.create-box>h2 {
    align-self: start;
    background: greenyellow;
}

.create-border-destination>div>div {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 0px;
}

.create-border-destination>div>div:nth-child(2) {
    width: 300px;
}

.create-border-destination>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.create-border-destination {
    position: relative;
    border: 1px dotted black;
    /* padding: 20px 50px 20px 50px; */
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.create-border-destination>.remove {
    position: absolute;
    padding: 5px;
    background: green;
    cursor: pointer;
    right: 0;
}

.create-border-destination>div>.showMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: greenyellow;
    padding: 0;
    margin: 0;
    border: 3px solid green;
    cursor: pointer;
}

.create-body-content>button {
    background: rgb(193, 238, 127);
    border: 2px solid rgb(204, 165, 165);
    border-radius: 5px;
}