:root {
  font-family: 'Mali', cursive;
}

html, body {
  padding: 0;
  margin: 0;
  /* background: #f2f2f2; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Mali', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

th:nth-child(1) {
  width: 5px;
}

.table-wraper {
  margin: 0 auto 0 auto;
  min-width: 700px;
}

table {
  margin: 0 auto 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  border: 1px solid #dddddd;
  background: #D0E6A5;
  padding: 8px;
  white-space: nowrap;
}

table {
  position: relative;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

@media only screen and (max-width:320px) {
  .table-wraper {
    min-width: 300px;
    overflow: hidden;
  }
}