/* Desktop */

@media (min-width:768px) {
    .navigationBar {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* background: rgb(31, 255, 132); */
        /* background: linear-gradient(90deg, rgba(31, 255, 132, 1) 0%, rgba(23, 209, 107, 1) 100%); */
    }
    .navbar-menu {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
    }
    .navbar-menu:hover {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
        background: #D0E6A5;
    }
    .text-nav {
        padding: 5px;
        margin: 0;
    }
    .text-nav:hover {
        padding: 5px;
        background: #D0E6A5;
        margin: 0;
    }
    .nav-select {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        border-radius: 3px;
        padding: 2px;
        overflow: hidden;
        background: #D0E6A5;
        transform: translateX(-60px);
        min-width: 120px;
        display: flex;
        /* justify-content: flex-start; */
        flex-direction: column;
        z-index: 1;
    }
    .main {
        position: absolute;
        padding: 20px;
        left: 0;
    }
    .main:hover {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
        background: #D0E6A5;
    }
}

.navbar-menu {
    display: flex;
}

.navbar-menu>.img {
    margin: 0 5px 0 0;
    width: 20px;
}

/* Mobile */

@media (max-width:768px) {
    .navigationBar {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .navbar-menu:hover {
        cursor: pointer;
        justify-items: center;
        /* background: rgb(31, 255, 132); */
    }
    .navbar-menu {
        cursor: pointer;
        justify-items: center;
    }
    .text-nav {
        margin: 0;
    }
    .text-nav:hover {
        background: #D0E6A5;
        margin: 0;
    }
    .nav-select {
        background: #D0E6A5;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 1;
        overflow: hidden;
    }
}