.view-container>.container>span:nth-child(1) {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.view-container>.container>span:nth-child(2) {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.view-container>.container {
    display: flex;
    flex-direction: row;
}

.order-container {
    width: 100vw;
    min-height: calc(100vh - 100px - 62px);
}

.order-container>.container {
    min-width: 320px;
    width: 700px;
    margin: 20px auto 20px auto;
}