.create-button {
    width: 100%;
    height: 100%;
}

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-box>div>div, .create-box>div {
    display: flex;
    flex-direction: column;
}

.create-box>div>input, .create-box>div>div>input {
    width: 250px;
}

.create-box>h2 {
    align-self: start;
}