/* Desktop */

@media (min-width:768px) {
    .nav-mobile-container {
        display: none;
    }
    .nav-desktop-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .navbar-menu {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
    }
    .navbar-menu:hover {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
        background: #D0E6A5;
    }
    .text-nav {
        padding: 5px;
        margin: 0;
    }
    .text-nav:hover {
        padding: 5px;
        background: #D0E6A5;
        margin: 0;
    }
    .nav-select {
        align-self: start;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        border-radius: 5px;
        padding: 2px;
        overflow: hidden;
        transform: translateX(-60px);
        min-width: 120px;
        display: flex;
        /* justify-content: flex-start; */
        background: #DCDCDC;
        flex-direction: column;
        z-index: 1;
    }
    .main {
        position: absolute;
        padding: 20px;
        left: 0;
    }
    .main:hover {
        cursor: pointer;
        justify-items: center;
        padding: 20px;
        background: #D0E6A5;
    }
    .navbar-menu>p {
        margin: 0 3px 0 3px;
    }
    .navbar-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-menu>div:nth-child(1) {
        margin: 3px 5px 0 0;
        width: 20px;
    }
    .ham-menu {
        display: none;
    }
}

/* Mobile */

@media (max-width:768px) {
    .nav-desktop-container {
        display: none;
    }
    .ham-menu {
        position: fixed;
        display: block;
        margin: 20px;
    }
    .nav-mobile-container {
        display: none;
        position: absolute;
        width: 50vw;
        height: 100vh;
        flex-flow: column nowrap;
        background: #f5f5f5;
        z-index: 1;
    }
    .nav-mobile-container>.card, .card {
        background: #d1f1c9;
    }
    .mobile-nav-menu {
        display: flex;
    }
    .mobile-list-url {
        display: flex;
        flex-flow: column nowrap;
    }
    .mobile-text-nav {
        padding: 5px;
    }
    .mobile-nav-menu>p {
        margin: 0 5px 0 5px;
    }

    #nav-mobile-close-img {
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: center;
        background: #99db6d;
    }
}