.reset-password {
    padding: 100px;
}

.reset-form>div {
    text-align: center;
    width: 100%;
}

.reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}