@media screen and (min-width: 280px) {
    .view-container {
        min-height: calc(100vh - 100px - 62px);
        width: 100vw;
        background: #f5f5f5;
        padding: 5px;
    }
    .view-container>.container {
        min-width: 280px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 auto;
        align-items: center;
    }
    .view-head {
        display: flex;
        flex-flow: row wrap;
        padding: 0 0 20px 0;
    }
    .view-table-wraper {
        width: calc(100% - 20px);
        overflow-x: scroll;
    }
}

.view-container {
    min-height: calc(100vh - 100px);
    width: 100vw;
    background: #f5f5f5;
    padding: 20px;
}

.view-container>.container {
    min-width: 280px;
    /* width: 700px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    align-items: center;
}

.view-head {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 20px 0;
}

.view-table-wraper {
    width: 100%;
    overflow-x: scroll;
}